<h1><%= "#{@merchant.name} Bulk Indexes:" %></h1>
<h2>Upcoming Holidays</h2>
<% @holidays.each do |holiday| %>
  <p> <%= "#{holiday[:name]} #{holiday[:date]}" %> </p>
<% end %>

<%= button_to 'Create Discount', new_merchant_bulk_discount_path(@merchant.id), method: :get %>

<ul>
  <% @bulk_discounts.each do |bulk_discount| %>
    <li id="<%= bulk_discount.id %>"><%= link_to "Discount #{bulk_discount.id}:", merchant_bulk_discount_path(@merchant.id, bulk_discount.id)%>
      <ul>
      <li><%= "Discount Percentage: #{(bulk_discount.percentage * 100).to_i}%" %></li>
      <li><%= "Quantity Threshold: #{bulk_discount.quantity_threshold} items" %></li>
    </ul>
    </li>
  <% end %>
</ul>
