<%= render partial: './partials/merchant_nav' %>

<h1>New Discount</h1>

<%= form_with model: [@merchant, @bulk_discount], local: true do |f| %>
  <%= f.label :quantity_threshold  %>
  <%= f.number_field :quantity_threshold,  in: 1..99999, step: 1, required: true %>
  <%= f.label :percentage %>
  <%= f.number_field :percentage,  in: 1..99, step: 1, required: true  %>
  <%= f.submit %>
<% end %>
